@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .avatar {
    width: max(45px, min(135px, 22vw));
    height: max(45px, min(135px, 22vw));
    border: 3.75px solid #000;
  }
}
